/* Variables */
$dark-grey : #555;

/* Layar Setup */
body {
	background: transparent !important; //transparent backgorund for layar
	
}
/* FONTS */
body {
	line-height: 1.5em;
	
}


/* HEADER */
header {
	padding-top:10px;
 .logo-image {
 
 h1{
	background: url(../images/logo.png) no-repeat left top;
	text-indent: -9999%;
	float: left;
	display: block;
	width: 250px;
	height:54px;
	
}
.description {
	width: 100%;
	float:  left;
	font-style:italic;
	font-weight:  600;
}
}
}

/* NAVIGATION */
.logged-in{
	.top-bar-container {
	top: 27px;
	}
}
#top-nav {
	.nav-bar {
		margin: 0;
	}
	.breadcrumbs {
		padding: 2px 10px 3px;
	}
	.nav-bar form[role="search"]{
		width: 150px;
		margin: 10px 10px 9px;
		
		input[type="search"]{
			margin:0;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top:  20px;
	margin-bottom:  10px;
}
h5 {
	margin-bottom: 4px;
}

/* SIDEBAR */
.sidebar > li {
	list-style: none;
}

/* FOOTER */
footer {
	//background: $dark-grey;
}
footer .sidebar {
	margin-top: 10px;
}

/* GRAVITY FORMS */
.gform_wrapper .gform_body input{
	/*text inputs */
	&[type="text"], 
	&[type="email"], 
	&[type="number"], 
	&[type="url"], 
	&[type="tel"], 
	&[type="password"]  
	{	
		padding-left:  .5em;
		font-size:  .9em;
	}
	
}

/* POSTERS */


article:nth-child(1){
.poster{
	position: absolute;
	z-index:3;
	left: -3px;
	top: -7px;
	width: 175px;
	height: 257px;
	background: url(../images/poster1-small.png) no-repeat top;
}
}
article:nth-child(2){
.poster{
	position: absolute;
	z-index:2;
	left: 40px;
	top: 245px;
	width: 120px;
	height: 160px;
	background: url(../images/poster2-small.png) no-repeat top;
}
}
article:nth-child(3){
.poster{
	z-index:1;
	position: absolute;
	left: 80px;
	top: 95px;
	width: 150px;
	height: 208px;
	background: url(../images/poster3-small.png) no-repeat top;
}
}

/* Word Bubble */
#msg_loading {
background: transparent !important;
margin: 10px 20px 40px 130px;
border: 0;
}
 .widget_tweetblender {
	 width: 500px;
	 height: 228px;
	 background: url(../images/word-bubble.png) no-repeat top;
	 display: block;
	 float: left;
	.tb_archivelink{
	display: none;
	} 
	 .tb_tweetlist {
		 margin: 10px 30px 40px 130px;
		 font-family: 'Futura';
		 text-transform: uppercase;
		 font-weight: bold;
		 border: 0;
		 div.tb_tweet {
			 border: 0;
		 }
		 a {
			color: #f73;
			font-weight: 800;	
		 }
		 .tb_tweet-info {
			display: none;
		 }
	 } 
 }

/* LINEUP LAPTOP */
body {	
	line-height: 1.5em;
	overflow: hidden;
	height: 200px;
}
.lineup{
	list-style: none;
	font-weight: bold;
	line-height: 48px;
	background: url(../images/screen2.jpg) repeat-y top left;
	color: #f73;
	display: block;
	width: 300px;
	margin: 0;
	overflow: scroll;
	padding: 0 15px 25px 8px;
	background-origin:border-box;
	text-shadow: 0 0 6px #fa3;
	li{
		font-size: 20px;
		em{
		font-size: 16px;
		color: #fa4;
		}
	}
	li.headline{
			text-transform: uppercase;
			font-size: 24px;	
			color: #fa4;
	}
	li.small {
		margin-left: 10px;
		font-size: 18px;
		line-height: 24px;
	}
}