/* Variables */
/* Layar Setup */
/* line 5, sass/app.scss */
body {
  background: transparent !important;
}

/* FONTS */
/* line 10, sass/app.scss */
body {
  line-height: 1.5em;
}

/* HEADER */
/* line 17, sass/app.scss */
header {
  padding-top: 10px;
}
/* line 21, sass/app.scss */
header .logo-image h1 {
  background: url(../images/logo.png) no-repeat left top;
  text-indent: -9999%;
  float: left;
  display: block;
  width: 250px;
  height: 54px;
}
/* line 30, sass/app.scss */
header .logo-image .description {
  width: 100%;
  float: left;
  font-style: italic;
  font-weight: 600;
}

/* NAVIGATION */
/* line 41, sass/app.scss */
.logged-in .top-bar-container {
  top: 27px;
}

/* line 46, sass/app.scss */
#top-nav .nav-bar {
  margin: 0;
}
/* line 49, sass/app.scss */
#top-nav .breadcrumbs {
  padding: 2px 10px 3px;
}
/* line 52, sass/app.scss */
#top-nav .nav-bar form[role="search"] {
  width: 150px;
  margin: 10px 10px 9px;
}
/* line 56, sass/app.scss */
#top-nav .nav-bar form[role="search"] input[type="search"] {
  margin: 0;
}

/* line 62, sass/app.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 66, sass/app.scss */
h5 {
  margin-bottom: 4px;
}

/* SIDEBAR */
/* line 71, sass/app.scss */
.sidebar > li {
  list-style: none;
}

/* FOOTER */
/* line 79, sass/app.scss */
footer .sidebar {
  margin-top: 10px;
}

/* GRAVITY FORMS */
/* line 84, sass/app.scss */
.gform_wrapper .gform_body input {
  /*text inputs */
}
/* line 92, sass/app.scss */
.gform_wrapper .gform_body input[type="text"], .gform_wrapper .gform_body input[type="email"], .gform_wrapper .gform_body input[type="number"], .gform_wrapper .gform_body input[type="url"], .gform_wrapper .gform_body input[type="tel"], .gform_wrapper .gform_body input[type="password"] {
  padding-left: .5em;
  font-size: .9em;
}

/* POSTERS */
/* line 103, sass/app.scss */
article:nth-child(1) .poster {
  position: absolute;
  z-index: 3;
  left: -3px;
  top: -7px;
  width: 175px;
  height: 257px;
  background: url(../images/poster1-small.png) no-repeat top;
}

/* line 114, sass/app.scss */
article:nth-child(2) .poster {
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 225px;
  width: 135px;
  height: 180px;
  background: url(../images/poster2-small.png) no-repeat top;
}

/* line 125, sass/app.scss */
article:nth-child(3) .poster {
  z-index: 1;
  position: absolute;
  left: 94px;
  top: 80px;
  width: 150px;
  height: 208px;
  background: url(../images/poster3-small.png) no-repeat top;
}

/* Word Bubble */
/* line 137, sass/app.scss */
#msg_loading {
  background: transparent !important;
  margin: 10px 20px 40px 130px;
  border: 0;
}

/* line 142, sass/app.scss */
.widget_tweetblender {
  width: 500px;
  height: 228px;
  background: url(../images/word-bubble.png) no-repeat top;
  display: block;
  float: left;
}
/* line 148, sass/app.scss */
.widget_tweetblender .tb_archivelink {
  display: none;
}
/* line 151, sass/app.scss */
.widget_tweetblender .tb_tweetlist {
  margin: 10px 30px 40px 130px;
  font-family: 'Futura';
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
}
/* line 157, sass/app.scss */
.widget_tweetblender .tb_tweetlist div.tb_tweet {
  border: 0;
}
/* line 160, sass/app.scss */
.widget_tweetblender .tb_tweetlist a {
  color: #f73;
  font-weight: 800;
}
/* line 164, sass/app.scss */
.widget_tweetblender .tb_tweetlist .tb_tweet-info {
  display: none;
}
